body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    font-weight: bold;
}

.center {
    text-align: center;
}

.links,
.links a {
    padding: 5px;
    text-decoration: none;
}

.image {
    height: 250px;
    width: auto;
}