body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    font-weight: bold;
}

.center {
    text-align: center;
}

.links,
.links a,
.return-link {
    text-decoration: none;
}
#dir-link {
    padding: 5px;
}

.image {
    height: 250px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}